In [42]:
import pandas as pd
import numpy as np

In [5]:
pd

In [6]:
cities =  pd.Series({
    'Bordeaux' : 249712  ,
    'Paris' : 2190327 ,
    'Lille' : 232741
})

In [8]:
cities.index

Index(['Bordeaux', 'Paris', 'Lille'], dtype='object')

In [9]:
cities['Paris']

2190327

In [13]:
v = range(1, 12, 2)
i = 'abcdef'
# print(list(i))
s = pd.Series(v, index=list(i))

In [14]:
s

a     1
b     3
c     5
d     7
e     9
f    11
dtype: int64

In [15]:
cities.index = ['33', '75', '59']

In [16]:
cities

33     249712
75    2190327
59     232741
dtype: int64

In [18]:
mask = cities > 2_000_000
cities[mask]

75    2190327
dtype: int64

In [20]:
cities = 1.1 * cities
# deuxième solution cities.apply(lambda c : c * 1.1 )

In [21]:
cities

33     274683.2
75    2409359.7
59     256015.1
dtype: float64

In [22]:
notes = pd.Series([13.4, 20, 10, 15, 14, 16])

In [23]:
notes

0    13.4
1    20.0
2    10.0
3    15.0
4    14.0
5    16.0
dtype: float64

In [24]:
# notes[1:3] avec des index numériques on peut faire du slicing

1    20.0
2    10.0
dtype: float64

In [25]:
subjects = [
'Databases', 'Culture',
'Git', 'Stat desc',
'Stat inf', 'Python'
]

notes.index = subjects

notes

Databases    13.4
Culture      20.0
Git          10.0
Stat desc    15.0
Stat inf     14.0
Python       16.0
dtype: float64

In [30]:
notes.mean().round(2)

14.73

In [40]:
print( notes.median() )

notes.sort_values()
notes.describe()

14.5

count     6.000000
mean     14.733333
std       3.290390
min      10.000000
25%      13.550000
50%      14.500000
75%      15.750000
max      20.000000
dtype: float64

In [35]:
s = pd.Series([1, 2, 3, 4, 5, 6])

In [36]:
s.median()

3.5

In [64]:
numbers = np.array([12,6,8,19, 10, np.nan , 14, np.nan])
mask = np.isnan(numbers)
num = numbers[ mask == False ]

m = np.median(num)
print(m)
numbers[ mask  ] = m

np.median( numbers )

# print(numbers.mean()) # affiche nan

11.0

11.0

In [65]:
notes = pd.Series([1, 7, 8, 9, 10, 12, 15, 17, 18, 19 ,20])
effectifs = pd.Series([2,3, 2, 1, 5, 7, 2, 6, 2, 1, 1])

Quel est le pourcentage d'étudiants de la promo Data01 ayant obtenu une note comprise entre 9 et 13 ?

In [77]:
mask  = (notes >= 9) & (notes <= 13) 
round( effectifs[mask].sum() / effectifs.sum() * 100, 2 )

40.62

In [ ]:
# Solution Yanis
total_etudiants = effectifs.sum()
etudiants_9_13 = effectifs[(notes >= 9) & (notes <= 13)].sum()
pourcentage_9_13 = (etudiants_9_13 / total_etudiants) * 100