
## Exercice formater/extraire des données

1. Développez un script permettant de nettoyer le dataset students pour obtenir le tableau sanitize :

```python

students = np.array([
    [  "Name: Luce du Coulon" , "phone Number: 201-20-30"],
    [  "Name: Auguste Dupont", "phone Number: 201-22-30"],
    [  "Name: Roger Le Voisi", "phone Number: 201-27-30"],
    [  "Name: Alexandre Lacri", "phone Number: 201-10-30"],
    [  "Name: Jacques Humber", "phone Number: 201-20-35"],
    [  "Name: Thérèse Guille", "phone Number: 201-20-38"],
    [  "Name: Gilles Gros-Bodin", "phone Number: 201-20-39"],
    [  "Name: Amélie Pires", "phone Number: 201-25-39"],
    [  "Name: Marcel Laporte", "phone Number: 201-20-39"],
    [  "Name: Geneviève Marchal", "phone Number: 301-20-39"]
])

santize = np.array([
       ['Luce du Coulon', '201-20-30']
       ['Auguste Dupont', '201-22-30']
       ['Roger Le Voisi', '201-27-30']
       ['Alexandre Lacri', '201-10-30']
       ['Jacques Humber', '201-20-35']
       ['Thérèse Guille', '201-20-38']
       ['Gilles Gros-Bodin', '201-20-39']
       ['Amélie Pires', '201-25-39']
       ['Marcel Laporte', '201-20-39']
       ['Geneviève Marchal', '301-20-39']
 ])

```

2. Comptez maintenant le nombre du numéro comportant le nombre 30.

Pour ce faire vous pouvez créer ce que l'on appelle un mask, c'est à dire parcourir le tableau et tester si le pattern "30" est présent dans la chaîne. Le mask devra avoir la même dimension que votre tableau. Une fois celui-ci en place vous pourrez alors l'appliquer de la manière suivante :

```python
sanitize[mask]
```

In [1]:
import numpy as np

students = np.array([
    [  "Name: Luce du Coulon" , "phone Number: 201-20-30"],
    [  "Name: Auguste Dupont", "phone Number: 201-22-30"],
    [  "Name: Roger Le Voisi", "phone Number: 201-27-30"],
    [  "Name: Alexandre Lacri", "phone Number: 201-10-30"],
    [  "Name: Jacques Humber", "phone Number: 201-20-35"],
    [  "Name: Thérèse Guille", "phone Number: 201-30-38"],
    [  "Name: Gilles Gros-Bodin", "phone Number: 201-20-39"],
    [  "Name: Amélie Pires", "phone Number: 201-25-39"],
    [  "Name: Marcel Laporte", "phone Number: 201-20-39"],
    [  "Name: Geneviève Marchal", "phone Number: 301-20-39"]
])

l, c = students.shape

pattern1 = "Name:"
pattern2 = "phone Number:"

sanitize = np.empty((l, c), dtype='<U23')

for i in range(l):
    for j in range(c):
        st = students[i,j]
        # dans le cas où on a pas de pattern à remplacer
        # on crée un pattern vide de recherche
        if pattern1 in st:
            p = pattern1
        elif pattern2 in st:
            p = pattern2
        else:
            p = ""
            
        sanitize[i, j] = st.replace(p, "").strip()
            
print(sanitize)

[['Luce du Coulon' '201-20-30']
 ['Auguste Dupont' '201-22-30']
 ['Roger Le Voisi' '201-27-30']
 ['Alexandre Lacri' '201-10-30']
 ['Jacques Humber' '201-20-35']
 ['Thérèse Guille' '201-30-38']
 ['Gilles Gros-Bodin' '201-20-39']
 ['Amélie Pires' '201-25-39']
 ['Marcel Laporte' '201-20-39']
 ['Geneviève Marchal' '301-20-39']]

2. Comptez maintenant le nombre du numéro comportant le nombre 30.

Pour ce faire vous pouvez créer ce que l'on appelle un mask, c'est à dire parcourir le tableau et tester si le pattern "30" est présent dans la chaîne. Le mask devra avoir la même dimension que votre tableau. Une fois celui-ci en place vous pourrez alors l'appliquer de la manière suivante :

```python
sanitize[mask]
```

In [2]:
sanitize

array([['Luce du Coulon', '201-20-30'],
       ['Auguste Dupont', '201-22-30'],
       ['Roger Le Voisi', '201-27-30'],
       ['Alexandre Lacri', '201-10-30'],
       ['Jacques Humber', '201-20-35'],
       ['Thérèse Guille', '201-30-38'],
       ['Gilles Gros-Bodin', '201-20-39'],
       ['Amélie Pires', '201-25-39'],
       ['Marcel Laporte', '201-20-39'],
       ['Geneviève Marchal', '301-20-39']],
      dtype='<U23')

Vous pouvez utiliser la fonction replace de Python pour remplacer un pattern dans une chaîne de caractères. La fonction strip() permet de supprimer les espaces avant et après dans la chaîne.

```python
print( "    Name: Luce du Coulon     ".replace("", "").strip() )
# affiche Name: Luce du Coulon sans les espaces

```

Nous utilisons également dans le script ci-dessus l'opérateur Python "in" il permet ici de vérifier que le pattern est bien présent dans la chaîne de caractères :

```python

if "Name:" in "Name: Luce du Coulon ":
    print("yes")

# affiche yes
```

On filtre maintenant avec un mask qui a la même dimension que le tableau students

In [3]:
mask = np.array( [ [ ('-30' in c or '30-' in c ) for c in l ] for l in students ] )

print(mask)

print(students[mask])

[[False  True]
 [False  True]
 [False  True]
 [False  True]
 [False False]
 [False  True]
 [False False]
 [False False]
 [False False]
 [False False]]
['phone Number: 201-20-30' 'phone Number: 201-22-30'
 'phone Number: 201-27-30' 'phone Number: 201-10-30'
 'phone Number: 201-30-38']

Une autre solution plus synthétique est de travailler sur une "projection" ou vue du dataset en utilisant le slicing. Ici nous selectionnons uniquement la colonne des numéros de téléphones.

```python
search = np.array([ ( '-30' in number or '30-' in number ) for number in sanitize[:, 1] ])

print(sanitize[:, 1][ search ])
```

In [6]:
search = np.array([ ( '-30' in number or '30-' in number ) for number in sanitize[:, 1] ])

print(sanitize[:, 1][ search ])

['201-20-30' '201-22-30' '201-27-30' '201-10-30' '201-30-38']