In [1]:
import pandas as pd
import numpy as np

In [7]:
# URL du fichier CSV
url = "https://raw.githubusercontent.com/aahWeb/data/main/sales_data.csv"

# Charger les données depuis l'URL
sales_data = pd.read_csv(url)

# Afficher les premières lignes du DataFrame pour vérification
sales_data.head()

      Category  Sales   Customer  Quantity  UnitPrice  Country        Date
0  Electronics   2000  Customer1         5      400.0      USA  2023-01-01
1     Clothing   1500  Customer2         3      500.0       UK  2023-01-05
2  Electronics   3000  Customer3         2     1500.0  Germany  2023-01-10
3     Clothing   1200  Customer1         4      300.0      USA  2023-02-15
4  Electronics   2500  Customer4         2     1250.0   France  2023-03-20

In [9]:
sales_data.groupby('Country')['Sales'].mean()

Country
France     1869.230769
Germany    3384.615385
UK         1485.714286
USA        2628.571429
Name: Sales, dtype: float64

In [10]:
# Comptage d'éléments par groupe
sales_data.groupby('Country')['Sales'].count()

Country
France     13
Germany    13
UK         14
USA        14
Name: Sales, dtype: int64

In [11]:
def calculate_total_sales(x):
    return x['Quantity'] * x['UnitPrice']

In [14]:
total_quantity_bycustomer = sales_data.groupby('Customer').apply(calculate_total_sales)

In [19]:
# Total des Sales par Country et Catégory 
sales_data.groupby(['Country', 'Category'])['Sales'].mean().round(2)

Country  Category
France   Clothing       1816.67
         Electronics    2500.00
Germany  Electronics    3384.62
UK       Clothing       1485.71
USA      Clothing       1200.00
         Electronics    2738.46
Name: Sales, dtype: float64